:root {
  --hue-neutral: 270;
  --hue-wrong: 0;
  --hue-correct: 145;
}

body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vw;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--hue), 100%, 20%);
}
body.correct {
  --hue: var(--hue-correct);
}
body.wrong {
  --hue: var(--hue-wrong);
}
.container {
  width: 70%;
  max-width: 80;
  background-color: black;
  border-radius: 5%;
  padding: 10%;
  box-shadow: 0 0 10% 2%;
}
.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10%;
  margin: 20% 0;
}
.btn {
  --hue: var(--hue-neutral);
  border: 1% solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5%;
  padding: 5% 10%;
  color: white;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(128, 17, 231);
}
.start-btn,
.next-btn {
  font-size: 1.75rem;
  font-weight: bold;
  padding: 5% 10%;
  cursor: pointer;
}
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hide {
  display: none;
}
